@font-face{
    font-family: MyFont;
    src: url(Albertson.ttf);
}

body{
  font-family: MyFont !important; 
  letter-spacing: 1.5px !important;
  background-image: url(img/Camp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  position: fixed;
}

.text{
  background-color: rgba(0,0,0,0.4);
  backdrop-filter:blur(2px);
  color:rgb(166, 126, 77);
  width: auto;
  height: 1000px;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 0px;
}

.h2{
  padding:50px;
  padding-bottom:10px;
  font-size:24px;
}

.buttons{
  padding: 20px 40px;
  font-size: 30px;
  border-width: 10px;
  border-color: rgb(166, 126, 77);
  background-color: black;
  color: rgb(166, 126, 77);
}
strong{
  font-size:50px;
}
#restart{
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}
.currentRoom{
  font-size: 24px;
  top: 35px;
  right: 200px;
  margin: 20px;
  position: absolute;
  color: white;
}