@font-face{
    font-family: MyFont;
    src: url(Albertson.ttf);
}

body{
    font-family: MyFont !important; 
    letter-spacing: 1.5px !important;
    background-image: url(img/Camp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.button {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 100%;
  position:absolute;
  bottom: 5%;
  right:20%;
  cursor: pointer;
}
