@font-face{
    font-family: MyFont;
    src: url(Albertson.ttf);
}

body{
  font-family: MyFont !important; 
  letter-spacing: 1.5px !important;
  background-image: url(img/Camp.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  height: 400px;
  position: fixed;
}

.text{
  background-color: rgba(0,0,0,0.2);
  backdrop-filter:blur(2px);
  color:rgb(166, 126, 77);
  width: auto;
  height:1000px;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 0px;
}

.h2{
  padding:50px;
  padding-bottom:100%;
}
/*
.button {
  border: none;
  color: black;
  padding: 100px !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
*/

.buttons{
  padding: 20px 40px;
  font-size: 30px;
  border-width: 10px;
  border-color: rgb(166, 126, 77);
  background-color: black;
  color: rgb(166, 126, 77);
}

h2 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100%; }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color:rgb(166, 126, 77); }
  }